.bg {
  height: 100vh;
  background:linear-gradient(0deg,rgba(255,0,150,0.3),rgba(0, 0, 0, 0.3)),url('https://cdn4.pitchfork.com/longform/790/85_Atmosphere_Pooneh_Ghana_07-20QM6A8440.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar{
  position: relative;
  top:0px;
  left:0px;
  background-color: rgba(0, 0, 0, 0.575) !important;
  padding-left: 10px;
  padding-right: 10px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.audioPlayer{
  z-index:2 !important;
  background-color: white;
  position:sticky;
  left:0px;
  bottom:0px;
  min-width: 100% !important;
}

#player{
  width:100%;
}

.cardContainer{
  min-height: 100vh !important;
  padding: 10px;
  /* margin-top:25px !important; */
  background-color:rgba(0, 0, 0, 0.55);
}

.cardDiv{
  margin:3px;
  width:150px;
  color:white;
}

.webplayer{
  background-color:rgba(0, 0, 0, 0.89);
}

.profile{
  min-height: 100vh !important;
}

.sidebar{
  position:fixed !important;
  z-index:1 !important;
  background-color: black !important;
}

.fa-home, .fa-sign-out-alt ,.fa-cogs, .fa-list{
  color:white !important;
}

.playlistSelect:hover {
  color: grey;
  cursor: pointer;
}

.react-h5-audio-player {
z-index: 1 !important;
  }

  .toggle-play-button {
      background-color: teal !important;
      box-shadow: teal !important;
    }

    .pause-icon{
      box-shadow: teal 7px 0px 0px 0px inset !important;
    }

    .time{
      color:white !important;
    }

  .flex {
    background-color: black !important;
    }
    .progress-bar-wrapper {
      flex: 10 0 auto;
      -webkit-box-flex: 10 0 auto;
      -moz-box-flex: 10 0 auto;
      -ms-flex: 10 0 auto;
    }
